*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}


.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #292929;
}

.box {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
    /* animation-delay: 3s; */
    animation-fill-mode: backwards;
}

@keyframes moving {
    0% {
        top: 10px;
        left: 10px;
        background-color: brown;
    }
    25% {
        top : 10px;
        left : 1000px;
        background-color: burlywood;
    }
    50% {
        top : 500px;
        left : 1000px;
        background-color: salmon;
    }
    75% {
        top : 500px;
        left: 10px;
        background-color: lightgreen;
    }
    100% {
        top: 10px;
        left: 10px;
        background-color: brown;
    }
}