*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
}

main .container {
    height: 100%;
    width: 500px;
    background-color: rgb(176, 175, 175);
    border: 1px solid black;
    padding: 8px;
    position: relative;
}

main .container .tools {
    width: 97%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0%;
    background: gray;
    border: 1px solid black;
    padding: 5px ;
}

main .container .tools a {

    text-decoration: none;
    color: black;
}

main .container .tools i {
    font-size: 2rem;
}


.login {
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.login form {
    border: 1px solid black;
    padding: 15px;
    border-radius: 1em;
    background-color: rgb(177, 177, 177);

}
.login form input {
    width: 100%;
    font-size: 1.3em;
    padding: 3px 7px;
    border-radius: 5px;

}
.login form #error {
    color: red;
    text-align: center;
}
#toast {
    background-color: rgb(74, 200, 74);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.login form .btn {
    width: 100%;
    display: flex;
    justify-content: center;

}

.login form .btn button {
    padding: 5px 8px;
    font-size: large;
    background-color: rgb(78, 79, 174);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login form h1 {
    text-align: center;
}


.posts {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* overflow: hidden; */
}


.posts .post{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.posts .post .top{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 15px;
}

.posts .post .top img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}


.posts .post .bottom{
    width: 100%;
}

.posts .post .bottom img {
    width: 100%;
    border-radius: 10px;
}


.posts .post .bottom .post-tool{
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

.posts .post .bottom .post-tool i {
    cursor: pointer;
}


main .container .user-profile {
    width: 100%;
    height: 30%;
    border: 2px solid black;
     display: flex;
     justify-content: space-between;
     padding: 10px;
}

main .container .user-profile img {
    
    border-radius: 50%;

}

main .container .user-profile a {
    text-decoration: none;
    color: red;
}


main .container #posts {
    text-align: center;
    font-size: 1.3em;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}



.user-posts {
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    /* overflow: hidden; */
}


.user-posts .post{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.user-posts .post .top{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.user-posts .post .top .profile{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-posts .post .top .profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}


.user-posts .post .top .btn {
    display: flex;
    gap: 1.1em;
    
}

.user-posts .post .top .btn a {
    text-decoration: none;  
    color: black;
}


.user-posts .post .bottom{
    width: 100%;
}

.user-posts .post .bottom img {
    width: 100%;
    border-radius: 10px;
}


.user-posts .post .bottom .post-tool{
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

.user-posts .post .bottom .post-tool i {
    cursor: pointer;
}

