<div class="tools">
    <i class="ri-home-line"></i>
    <i class="ri-search-line"></i>
    <i class="ri-add-circle-fill"></i>
    <i class="ri-message-2-fill"></i>
    <a href="/user/login"><i class="ri-account-circle-fill"></i></a>
</div>